.filter-plugin {
    position: fixed;
    right: 0;
    width: 64px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1031;
    border-radius: 8px 0 0 8px;
    text-align: center;
    top: 195px;
  }
  /* .filter-plugin li > a,
  .filter-plugin .badge {
    transition: all 0.34s;
    -webkit-transition: all 0.34s;
    -moz-transition: all 0.34s;
  } */
  .filter-plugin .fa-filter {
    color: #ffffff;
    padding: 10px;
    border-radius: 0 0 6px 6px;
    width: auto;
  }

  /* third filter */

  /* .filter-plugin .dropdown-menu {
    right: 80px;
    left: auto !important;
    top: -12px !important;
    width: 290px;
    border-radius: 0.1875rem;
    padding: 0 10px;
    background: linear-gradient(#222a42, #1d253b);
  }
  .filter-plugin .dropdown .dropdown-menu .tim-icons {
    top: 5px;
  }
  .filter-plugin .dropdown-menu:after,
  .filter-plugin .dropdown-menu:before {
    right: 10px;
    margin-left: auto;
    left: auto;
  }
  .filter-plugin .fa-circle-thin {
    color: #ffffff;
  }
  .filter-plugin .active .fa-circle-thin {
    color: #00bbff;
  }
  .filter-plugin .dropdown-menu > .active > a,
  .filter-plugin .dropdown-menu > .active > a:hover,
  .filter-plugin .dropdown-menu > .active > a:focus {
    color: #777777;
    text-align: center;
  }
  .filter-plugin img {
    border-radius: 0;
    width: 100%;
    height: 100px;
    margin: 0 auto;
  } */

  /* Second comment */

  /* .filter-plugin .dropdown-menu li > a:hover,
  .filter-plugin .dropdown-menu li > a:focus {
    box-shadow: none;
  }
  .filter-plugin .badge {
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    margin-right: 5px;
    position: relative;
    width: 23px;
  }
  .filter-plugin .badge.active,
  .filter-plugin .badge:hover {
    border-color: #1d253b;
  }
  .filter-plugin .light-badge,
  .filter-plugin .dark-badge {
    margin: 0;
    border: 1px solid #1d8cf8;
  }
  .filter-plugin .light-badge:hover,
  .filter-plugin .dark-badge:hover {
    border: 1px solid #1d8cf8;
  }
  .filter-plugin .light-badge {
    background: #ffffff;
  }
  .filter-plugin .light-badge:hover {
    background: #ffffff;
  }
  .filter-plugin .dark-badge {
    background: #222a42;
  }
  .filter-plugin .dark-badge:hover {
    background: #222a42;
  }
  .filter-plugin h5 {
    margin: 10px;
  }
  .filter-plugin .dropdown-menu li {
    display: block;
    padding: 18px 2px;
    width: 25%;
    float: left;
  }
  .filter-plugin li.adjustments-line,
  .filter-plugin li.header-title,
  .filter-plugin li.button-container {
    width: 100%;
    height: 50px;
    min-height: inherit;
  }
  .filter-plugin li.button-container {
    height: auto;
  }
  .filter-plugin li.button-container div {
    margin-bottom: 5px;
  }
  .filter-plugin #sharrreTitle {
    text-align: center;
    padding: 10px 0;
    height: 50px;
  }
  .filter-plugin li.header-title {
    color: #ffffff;
    height: 30px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  .filter-plugin .adjustments-line a {
    color: transparent;
  }
  .filter-plugin .adjustments-line a .badge-colors {
    position: relative;
    top: -2px;
  }
  .filter-plugin .adjustments-line a a:hover,
  .filter-plugin .adjustments-line a a:focus {
    color: transparent;
  }
  .filter-plugin .adjustments-line .togglebutton {
    text-align: center;
  }
  .filter-plugin .adjustments-line .togglebutton .label-switch {
    position: relative;
    left: -10px;
    font-size: 0.62475rem;
    color: #ffffff;
  }
  .filter-plugin .adjustments-line .togglebutton .label-switch.label-right {
    left: 10px;
  }
  .filter-plugin .adjustments-line .togglebutton .toggle {
    margin-right: 0;
  }
  .filter-plugin .adjustments-line .color-label {
    position: relative;
    top: -7px;
    font-size: 0.62475rem;
    color: #ffffff;
  }
  .filter-plugin .adjustments-line .dropdown-menu > li.adjustments-line > a {
    padding-right: 0;
    padding-left: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    margin: 0;
  }
  .filter-plugin .dropdown-menu > li > a.img-holder {
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    border: 3px solid #ffffff;
    padding-left: 0;
    padding-right: 0;
    opacity: 1;
    cursor: pointer;
    display: block;
    max-height: 100px;
    overflow: hidden;
    padding: 0;
  }
  .filter-plugin .dropdown-menu > li > a.img-holder img {
    margin-top: auto;
  }
  .filter-plugin .dropdown-menu > li a.switch-trigger:hover,
  .filter-plugin .dropdown-menu > li > a.switch-trigger:focus {
    background-color: transparent;
  }
  .filter-plugin .dropdown-menu > li:hover > a.img-holder,
  .filter-plugin .dropdown-menu > li:focus > a.img-holder {
    border-color: rgba(0, 187, 255, 0.53);
  }
  .filter-plugin .dropdown-menu > .active > a.img-holder,
  .filter-plugin .dropdown-menu > .active > a.img-holder {
    border-color: #00bbff;
    background-color: #ffffff;
  }
  .filter-plugin .btn-social {
    width: 50%;
    display: block;
    width: 48%;
    float: left;
    font-weight: 600;
  }
  .filter-plugin .btn-social i {
    margin-right: 5px;
  }
  .filter-plugin .btn-social:first-child {
    margin-right: 2%;
  } */



/* first comment */

  /* .filter-plugin .dropdown .dropdown-menu {
    -webkit-transform: translateY(-15%);
    -moz-transform: translateY(-15%);
    -o-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);
    top: 27px;
    opacity: 0;
    transform-origin: 0 0;
  }
  .filter-plugin .dropdown .dropdown-menu:before {
    border-bottom: 0.4em solid rgba(0, 0, 0, 0);
    border-left: 0.4em solid rgba(0, 0, 0, 0.2);
    border-top: 0.4em solid rgba(0, 0, 0, 0);
    right: -16px;
    top: 46px;
  }
  .filter-plugin .dropdown .dropdown-menu:after {
    border-bottom: 0.4em solid rgba(0, 0, 0, 0);
    border-left: 0.4em solid #222a42;
    border-top: 0.4em solid rgba(0, 0, 0, 0);
    right: -16px;
  }
  .filter-plugin .dropdown .dropdown-menu:before,
  .filter-plugin .dropdown .dropdown-menu:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 74px;
    width: 16px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
  }
  .filter-plugin .dropdown.show .dropdown-menu {
    opacity: 1;
    -webkit-transform: translateY(-13%);
    -moz-transform: translateY(-13%);
    -o-transform: translateY(-13%);
    -ms-transform: translateY(-13%);
    transform: translateY(-13%);
    transform-origin: 0 0;
  } */
  .filter-plugin .bootstrap-switch {
    margin: 0;
  }


  